.search-box {
  margin-top: 1rem;
  height: 30px;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
  padding: 6px 12px;
}
@media (max-width: 750px) {
  .search-box {
    max-width: 150px;
  }
}
.search-box-input {
  height: 100%;
  flex-shrink: 2;
  max-width: 150px;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  font-size: 1.4rem;
  font-weight: 600;
}
@media (max-width: 332px) {
  .search-box-input {
    max-width: 90px;
  }
}
.search-box-input:focus {
  outline: none;
}
.search-box-input::placeholder {
  color: #f5f5f5;
  opacity: 1;
}
.search {
  height: 25px;
  min-width: 18px;
  background-image: url(../../assets/search-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.error-msg {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  visibility: hidden;
}

.weather-info__units{
  margin-top: 2.5rem;
  font-weight: 600;
  font-size: 2.2rem;
  cursor: pointer;
}
@media (max-width: 750px) {
  .weather-info__units{
    font-size: 1.4rem;
  }
}