.forecast-daily-container {
   display: flex;  /* */
  justify-content: space-between;
}
@media (max-width: 550px) {
  .forecast-daily-container {
    flex-direction: column;
    align-items: center;
  }
}

