.body {
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(./assets/main_bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f5f5f5;
  font-family: montserrat, sans-serif;
}
li {
  list-style: none;
}
.body {
  min-height: 100vh;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .body {
    padding: 7rem;
  }
}
@media (max-width: 1200px) {
  .body {
    padding: 6rem;
  }
}
@media (max-width: 800px) {
  .body {
    padding: 4rem;
  }
}
.main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 550px) {
  .main {
    margin-bottom: 1rem;
  }
}